<footer class="footer">
  <small>
    <a href="https://www.bing.com/">Bing</a>
    by Sara and Sahil
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "FAQ",    faq_path %></li>
      <li><%= link_to "Sign in", signin_path %></li>
    </ul>
  </nav>
</footer>