<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Slackline. You're here.</h1>

  <%= link_to "Sign in!", signin_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("batman.png", alt: "Slackline"), 'https://www.google.org/' %>

